body{

	background-image: url('images/index_bg.jpg'); /*Setting the image to fit the page*/
	background-size: cover;
	margin:0;
	padding:0; 
	overflow-y:scroll;
	font-family: Arial;
	font-size: 18px; 
}

#nav0{
	background-color: silver;
	margin: 5px 5px 5px 5px;
	padding: 1%;
	color: white;
	opacity: 0.8;
	text-shadow: 3px 2px green;
}

#nav{

	background-color: #222;
	position: absolute;
	z-index: 1;
	height: 134%;
}

 #nav_wrapper{
	width: 100%; 
	margin: 0 auto;/* auto is used to horizontally center the elements within the container*/
	text-align: left;
}

#nav ul{

	list-style-type: none;
	padding: 0;
	margin-top: 230px;
	position: relative;
}

#nav ul li{
	display:block;
	text-align:left; 
}


#nav ul li:hover{
	background-color:#333; 
}

#nav ul li a,visited{
	color: red;
	display: block;
	padding: 15px;
	text-decoration: none; 
}

#nav ul li a:hover{
	color: #ccc;
	text-decoration: none;
}

#nav ul li:hover ul{
	display:block;
	 /*drop down position from left side*/
}

#nav ul ul{
	display: none;
	position: absolute;
	background-color:#333;
	border: 5px solid #222;
	border-left:0;
	margin-top:-50px; /*distance from top*/
	margin-left:75px; /*distance from left*/	
	min-width: 200px;
	z-index: 1;
}

#nav ul ul li
{
	display:block;
}

#nav ul ul li a,visited{
	color: #ccc;
}

#nav ul ul li a:hover{
	color:#099;
}


#nav1{

	background-color: silver;
	opacity: 0.8;
	margin: 5px 5px 5px 5px;
	text-align: justify;
	font: sans-serif;
	font-size: 18px;
	padding: 2% 2% 2% 7%; /*space from top left right bottom*/
}

#nav1 h3{
	text-decoration: underline;
	padding-left: 3%;
}

#nav1 p:first-letter {
    padding-left:5%;
}/* to position first line horizontally */


#nav1 ol{
	padding-left:10%;
}

#nav1 p a{
	text-decoration: none;
}

#nav2{
	background-color: silver;
	text-align: justify;
	opacity: 0.8;
	margin: 5px 5px 5px 5px;
	font: sans-serif;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	color: navy;
}

#nav2 p:first-letter {
    padding-left:10%;
}/* to position first line horizontally */

/* Style the links inside the sidenav */
#Contactnav a {
	position: absolute; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    z-index: 1;
}

#Contactnav a:hover {
    left: 0 /* On mouse-over, make the elements appear as they should */
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#contacts {
    top: 80px;
    background-color: #2196F3; /* Blue */
}

#main-footer
{

	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	text-shadow: 3px 2px silver;
}
